<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KYA-SolDesign</title>
    <meta content="KYA-SolDesign Payment page" name="descriptison">
    <meta content="KennedyVirus" name="author">

    <!-- Favicons -->
    <link href="{{ asset('assets/img/logo/logo.jpeg')  }}" rel="icon">
    <link href="{{ asset('assets/img/logo/logo.jpeg')  }}" rel="apple-touch-icon">
    {#<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">#}
    <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/vue-form-wizard.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/buefy.min.css') }}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.css" integrity="sha256-KpQHAI/AubL4JrO3VYskOgqSm+Z9nzrIqWB1dTOfCK4=" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="{{ asset('asset/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('asset/assets/vendor/aos/aos.css') }}" rel="stylesheet">

    <style>
        #modal-loader{
            background: url('{{ asset('assets/loader/Spinner-1s-95px.gif') }}') no-repeat center;
            background-color: unset;
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
        }
    </style>
    {% block additionnalcss %}

    {% endblock %}

    <!-- Template Main CSS File -->
    <link href="{{ asset('asset/assets/css/style.css') }}" rel="stylesheet">
    {% block additionnaljs %}
    {% endblock %}
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="">KYA-<span style="color: #f3982f !important;">SolDesign</span></a></h1>


        {#<h1 class="logo mr-auto"><a href="index.html">OnePage</a></h1>#}
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="#faq">Configuration requise</a></li>

                <li><a href="#pricing">Payez votre licence</a></li>

            </ul>
        </nav><!-- .nav-menu -->

        <a href="{{ asset('assets/file/KYA-SolDesign.exe') }}" class="get-started-btn scrollto" download>Téléchargez Gratuitement ici</a>

    </div>
</header><!-- End Header -->


<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1 style="color: #009a86">PREMIER LOGICIEL AFRICAIN</h1>
                <h2 style="color: #f3982f">DE DIMENSIONNEMENT DE SYSTEMES SOLAIRES</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ asset('assets/file/KYA-SolDesign.exe') }}" class="btn-get-started scrollto" download>Téléchargez Gratuitement ici</a>
        </div>

    </div>
</section><!-- End Hero -->

<main id="main">

    {% block mainpage %}
    {% endblock %}


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                <strong style="font-size:18px;color: black"><span><i class="icofont-phone"></i>+228 90 88 88 44 </span></strong><br>

                &copy;  2020<strong><span><a href="https://www.kya-energy.com/" style="color: black" target="_blank">KYA-ENERGY-GROUP</a></span></strong>. Tous droits reservés

            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">

            <a href="https://www.twitter.com/kya_energy" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="http://www.fb.com/kya.energy" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/kya_energy/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC_7TIwBfk9JJO-sgGTXCpqg" class="google-plus"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.linkedin.com/company/kya-energy" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.kya-energy.tumblr.com/" class="tumblr"><i class="bx bxl-tumblr"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{{ asset('asset/assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/php-email-form/validate.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/counterup/counterup.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/venobox/venobox.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('asset/assets/vendor/aos/aos.js') }}"></script>

<!-- Template Main JS File -->

{#<script type="text/javascript"  src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>#}


<script type="text/javascript"  src="{{ asset('assets/js/vue.min.js') }}"></script>

<script type="text/javascript"  src="{{ asset('assets/js/axios.js') }}"></script>

<script src="{{ asset('asset/assets/js/main.js') }}"></script>


{#<script type="text/javascript"  src="{{ asset('assets/js/vue-form-wizard.js') }}"></script>#}
{#<script type="text/javascript"  src="{{ asset('assets/js/buefy.min.js') }}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.js" integrity="sha256-Pqs5A9wApIiYSB4hUcVldLk59gXaGnttbDmxVjRm6zQ=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/materialize-stepper@3.1.0/dist/js/mstepper.min.js"></script>



</body>

</html>